<!DOCTYPE html>
<html>
<head>
  <title>TV SMS Campaigns</title>
  <link rel="stylesheet" type="text/css" href="/assets/styles.css">
</head>
<body>
  <h1>TV SMS Campaigns</h1>

  <% @campaigns.each do |campaign| %>
    <p><%= link_to campaign,show_campaign_results_path(campaign), :class => 'campaign-link' %></p>
  <% end %>
</body>
</html>
